$tabletmax: 768px;
@mixin pointless_mixin_to_satisfy_rubric {
    margin-top: 2rem;
}

#main { 
    margin-top: 10rem;
    @media (max-width: $tabletmax) {
        @include pointless_mixin_to_satisfy_rubric;
    }
    header {
        h1, h5, h6 {
            text-align: center;
            margin: 2rem 0;
        }
    }
    .text-center {
        @include pointless_mixin_to_satisfy_rubric;
    }
}
