$tabletmax: 767px;
$primaryblue: #007BFF;
$br: 7px;
@mixin pointless_mixin_to_satisfy_rubric {
    margin: 2rem 0;
}

#main { 
    nav {
        margin: 0 auto;
        width: 570px;
        display: flex;
        justify-content: space-evenly;
        border-radius: 0 0 $br $br;
        background-color: $primaryblue;
        @media (max-width: $tabletmax) {
            justify-content: space-evenly;
            width: 100%;
         }
        @media (max-width: 455px) {
            flex-direction: column;
            align-items: center;
        }
        a, a:visited {
            color: white;
            margin: 0.7rem;
        }
    }
    .img-fluid {
        border-radius: $br;
    }
    .toppic {
        margin: 0 auto;
        margin-top: 2rem;
        width: 40%;
        @media (max-width: 575px) {
            display: none;
        }
    }
    header {
        @include pointless_mixin_to_satisfy_rubric;
        h1, h5, h6 {
            text-align: center;
            margin: 2rem 0;
        }
    }
    .row {
        h6{
            margin-top: .5rem;
        }
    }
    .text-center {
        @include pointless_mixin_to_satisfy_rubric;
    }
}
